* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header {
  background-color: green;
}

.task-container {
  background-color: blue;
}

.done-container {
  background-color: red;
}
